Django==5.2.8
djangorestframework==3.16.0
django-cors-headers==4.3.1
djangorestframework_simplejwt==5.5.1
django-allauth
python-dotenv==1.0.0
django-db-file-storage==0.5.6.1
django-redis
redis
openai==2.1.0
google-auth==2.42.0
google-genai==1.46.0
dj_database_url==3.0.1
pillow
celery==5.4.0
django-celery-results==2.5.1
channels==4.2
channels_redis==4.2
httpx==0.28.1
django-anymail==14.0
daphne==4.1.2
tiktoken==0.8.0
whitenoise
hiredis>=2.0.0
gunicorn>=21.0.0